section.page-Principal {
  position: relative;
  min-height: 85.8vh;
  flex: 1 0 auto;
}

section.picture-back {
  background: url("/fondoSky.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: calc(50% + 10px) calc(50% + 10px);
}

section.juistify {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 899px) {
  section.page-Principal {
    min-height: 85.5vh;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  section.page-Principal {
    min-height: 88.8vh;
  }
}

@media (min-width: 1200px) {
  section.page-Principal {
    min-height: 86.4vh;
  }
}
