/* Página principal */
section.userPage {
  width: 100vw;
  background-color: #e9eff2;
  color: #001324;
}
section.userPage h2 {
  background-color: white;
  padding: 0.5rem;
  width: 100%;
}

/* Avatar y nombre usuario */

section.userData {
  width: 100%;
}

section.userData ul {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #e9eff2;
  background-color: white;
}

section.userData ul li.avatar img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

section.userData ul li p {
  padding: 0.3rem 0;
}

.userPageTabs {
  max-width: 1100px;
  width: 100%;
}
