.user-photos-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-photos-list img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  image-rendering: optimizeSpeed;
}

.user-userData {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
}

.user-userData img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
