footer {
  position: sticky;
  bottom: -1px;
  width: 100%;
  background-color: white;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer ul li {
  padding: 0.3rem;
}

footer ul li img {
  height: 30px;
}
