footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer ul li {
  padding: 4px;
}

footer ul li img {
  height: 30px;
}
