header.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #001324;
}

header.home img {
  height: 70px;
}

header.home nav {
  list-style: none;
}
