aside#loading {
  background-color: #001324;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

aside#loading p {
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
}
