.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg img.modal-img {
  position: absolute;
  top: -8vh;
  left: -5vh;
  height: 20vh;
}

.modal-fg form {
  margin-top: 20px;
}

.modal-fg.login p {
  color: white;
}

.modal-fg.login.register {
  position: relative;
}

.modal-fg.login.register::before {
  content: "";
  background-image: url("/a.png");
  opacity: 0.5; /* Rango de 0 (transparente) a 1 (opaco) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.modal-fg.login {
  background-color: #385b8bdc;
  border: none;
}

.modal-fg h1 {
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.modal-fg h2 {
  padding-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
#btnTitle {
  font-size: 1rem;
  box-shadow: 4px 4px 1px #228cc4;
  margin-bottom: 10px;
}

.modal-fg fieldset {
  margin-bottom: 10px;
  border: none;
}

.modal-fg input[type="text"],
.modal-fg input[type="email"],
.modal-fg input[type="password"],
.modal-fg input[type="date"],
.modal-fg input[type="file"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.modal-fg button[type="submit"],
.modal-fg button[type="button"] {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.modal-fg button[type="button"] {
  background-color: #f44336;
  color: white;
}

.modal-fg p {
  margin-top: 10px;
  color: black;
}

button#btnSubmit {
  border-radius: 0;
  box-shadow: 4px 4px 1px #228cc4;
  margin-bottom: 10px;
}

em {
  cursor: pointer;
  text-decoration: underline;
}

#robotDuda {
  height: 20rem;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

div.drop-area button#avatar {
  margin-top: 1rem;
  height: 100px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 15px;
}

@media (min-width: 600px) {
  .modal-fg.login {
    max-width: 500px;
  }
}

@media (max-height: 850px) {
  #robotDuda {
    display: none;
  }
}
