form.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.posts span {
  position: relative;
  background-color: #385b8bdc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

form.posts span box-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

form.posts h1 {
  color: #e9eff2;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

form.posts fieldset {
  background-color: #e9eff2;
  border: 0;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: center;
}

form.posts fieldset input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #da7b13;
  border-radius: 5px;
}

form.posts button {
  padding: 0.6rem;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #e9eff2;
  background-color: #385b8bdc;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

fieldset.avatar button#avatar {
  border: 1px solid #da7b13;
  margin: 0.5rem 0;
  height: 100px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

fieldset.avatar {
  color: rgb(66, 65, 65);
}
