#postCard {
  width: 100vw;
  height: auto;
  margin: 0.5rem 0;
}

#postCard img {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
}

/* Avatar---------------------- */

#tutu img {
  height: 40px;
  object-fit: cover;
  object-position: center;
}
.avatarCard {
  border: 1.5px solid #228cc4;
  background-color: white;
}

#headerP {
  color: #228cc4;
}

#photo img {
  height: 80vh;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #postCard {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  #postCard {
    max-width: 1000px;
  }
}
