@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Concert+One&family=Merriweather+Sans:wght@300&family=Neucha&family=Play&display=swap");
p {
  font-family: "Play", sans-serif;
}
#postCard {
  width: 100vw;
  height: auto;
  margin: 0.5rem 0;

  max-width: 450px;
  z-index: 1;
}

#postCard img {
  width: 100%;
  height: auto;
  margin: 0.5rem 0;
  align-self: center;
}

/* Avatar---------------------- */

#avatarImg #photo {
  height: 40px;
  object-fit: cover;
  object-position: center;
  background-color: #e9eff2;
}
.avatarCard {
  border: 1.5px solid #228cc4;
  background-color: white;
}

#headerP {
  color: #228cc4;
}

#photo img {
  height: 80vh;
}

#carMedia {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carMedia object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: spin 0.8s linear forwards;
}
@keyframes spin {
  98% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* Post---------------------- */

.photosList-p {
  margin-top: 1rem;
}

.iconButtonEdit {
  position: relative;
}

.editPostContainer {
  position: relative;
  background-color: white;
  right: 2rem;
  top: 1rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #228cc4;
  border-radius: 2px;
}

@media (max-width: 375px) and (max-height: 700px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 14rem;
  }
}

@media (min-width: 376px) and (max-width: 499px) and (max-height: 900px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 25rem;
  }
}

@media (min-width: 500px) and (max-width: 767px) and (max-height: 900px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 20rem;
  }
}

@media (min-width: 1024px) and (max-height: 769px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) and (min-height: 1020px) and (max-height: 1049px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 35rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) and (min-height: 1050px) and (max-height: 1200px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 40rem;
  }
}

@media (min-width: 1200px) and (max-height: 914px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 30rem;
  }
}

@media (min-width: 1100px) and (max-height: 840px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 22rem;
  }
}

@media (min-width: 1200px) and (min-height: 935px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 33rem;
  }
}

@media (min-width: 500px) and (max-height: 1100px) {
  #postCard #photo {
    width: 100%;
    object-fit: cover;
  }

  #postCard img {
    max-height: 23rem;
  }
}
