#searchAside {
  width: 100%;
  position: absolute;
  top: 4rem;
  display: flex;
  flex-direction: column;
}

form.search {
  display: flex;
  justify-content: center;
}
form.search input {
  max-width: 100%;
  width: 100%;
  outline: none;
}

form.search input,
form.search button {
  border: 0;
  padding: 0.5rem;
}

form.search input {
  background-color: #e9eff2;
  color: #001324;
}

form.search button {
  background-color: #001324;
}

form.search button:hover {
  background-color: #025197;
}

/* El form hasta ahora */
/* Ahora las fotos de busqueda */

ul.search {
  max-height: 82.5vh;
  padding: 0;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
}

ul.search li {
  height: 250px;
  border: 1.5px solid #001324;
}

ul.search li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 819px) and (min-height: 768px) {
  ul.search {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0.5rem;
  }
}
@media (min-width: 820px) and (max-width: 999px) and (min-height: 768px) {
  ul.search {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  ul.search {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  section.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  ul.search {
    max-width: 1200px;
    margin-top: 0;
    grid-template-columns: repeat(4, 1fr);
  }

  ul.search::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }

  ul.search:hover::-webkit-scrollbar-thumb {
    background-color: #ecf3f88e;
    border-radius: 15px;
  }
}
