#searchAside {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

form.search {
  display: flex;
}
form.search input {
  width: 100vw;
  outline: none;
}

form.search input,
form.search button {
  border: 0;
  padding: 0.5rem;
}

form.search input {
  background-color: #e9eff2;
  color: #001324;
}

form.search button {
  background-color: #001324;
}

form.search button:hover {
  background-color: #025197;
}

/* El form hasta ahora */
/* Ahora las fotos de busqueda */

ul.search {
  padding: 0;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

ul.search li {
  height: 250px;
  border: 1.5px solid #001324;
}

ul.search li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1199px) {
  ul.search {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  section.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  ul.search {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
  }
}
