/* Imagenes del usuario */
section.user-photos-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiTabPanel-root {
  max-width: 1100px;
  width: 1100px;
}

section.user-photos-list ul {
  padding: 0;
  display: grid;
  max-width: 478px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4rem;
}

section.user-photos-list ul li {
  height: 200px;
  border: 1.5px solid #001324;
}

section.user-photos-list ul li img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1199px) {
  section.user-photos-list ul {
    max-width: 1100px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  section.user-photos-list ul {
    max-width: 1100px;
    grid-template-columns: repeat(4, 1fr);
  }
}
